body{
    font-family: 'Poppins';
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 40%;
    text-align: center;
    background-color: rgb(248, 248, 248);
    border-radius: 30px;    
    padding: 30px;
}

form h1{
    font-size: xx-large;
    padding-bottom: 10px;
}

input, select, textarea{
    display: block;
    margin: 10px auto;
    border: 0;
    border-radius: 10px;
    background-color: rgb(206, 206, 206);

    width: 50%;
    height: 32px;
    font-size: 17px;
    color: rgb(40, 72, 109);
}

input[type="submit"]{
    display: block;
    margin: 10px auto;
    color: white;
    background-color: #0073B1;
    width: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
}

p{
    margin-bottom: 20px;
    font-size: small;
    color: rgb(40, 72, 109);
}

h1, p{
    text-align: center;
}

button{
    width: 130px;
    height: 30px;
    border: 0;
    border-radius: 10px;
}

button img{
    margin: 2px auto;
}

#linkedin{
    border: 1px solid #0073B1;
}

#github{
    border: 1px solid #212121;
}

.div{
    margin: 30px 0;
    background-color: rgb(206, 206, 206);
    width: 100%;
    height: 2px;
}

a{
    color: #0073B1;
    text-decoration: none;
}

.help > a:last-of-type{
    margin-left: 35px;
}

.help > a:first-of-type{
    margin-left: 35px;
}

.help{
    margin-top: 20px;
}

button, input[type="submit"]:hover, .help{
    cursor: pointer;
}

.fuel{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    text-align: left;
}

.fuel label, h2{
    margin-left: 26%;
}

h2{
    margin-top: 15px;
}

h4{
    margin: 20px 0;
}

input[type="radio"]{
    margin: 0;
    width: 10px;
    margin-left: 5px; 
    
}

label.male ,label.female{
    height: 40px;
    display: inline-flex;
    align-items: center;
    margin-right: 0;
}

label.male{
    margin-left: 35%;
}

label.female{
    margin-left: 3%;
}

textarea{
    width: 50%px;
    height: 80px;
}

fieldset h2{
    margin-top: 20px;
}

fieldset h2:first-of-type{
    margin-top: 10px;
}

select:last-of-type{
    margin-bottom: 20px;
}